@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #37b24d;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  padding: 0 2rem;
}
/* HEADER */
.heading-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 3rem;
  font-size: 5rem;
  color: #fff;
  gap: 1rem;
}
.fitness {
  color: #fa5252;
  width: 6.4rem;
  height: 6.4rem;
}
/* CALCULATOR */
.bmi-main {
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 0 7rem 2rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7rem 2rem rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 60rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 6rem 3rem 6rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6rem;
  border-radius: 1rem;
}
.bmi-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  padding-right: 5rem;
}
.field {
  padding: 0.8rem 1.3rem;
  width: 100%;
  border-radius: 0.4rem;
  border: none;
  margin-bottom: 3rem;
  margin: 1rem 0 3rem 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
}
.btn {
  padding: 0.8rem 1.3rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  background-color: #2b8a3e;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #2b8a3e;
}
.range-btn {
  margin-top: 2rem;
  background-color: transparent;
  color: #212529;
}
.range-btn:hover {
  background-color: #2b8a3e;
  color: #fff;
}
.field:focus,
.btn:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.3rem #2b8a3e;
  box-shadow: 0 0 0 0.3rem #2b8a3e;
}
.bmi-info {
  width: 50%;
  font-size: 1.5rem;
  color: #212529;
}
p {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
  color: #fff;
  text-transform: uppercase;
}
.result {
  color: #fff;
  font-size: 6rem;
  text-transform: capitalize;
}
/* bmi scale/graph */
.scale {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 8rem;
  height: 5rem;
  background-image: -o-linear-gradient(left, red 18.5%, green 24.9%, orange 29.9%, red);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(18.5%, red), color-stop(24.9%, green), color-stop(29.9%, orange), to(red));
  background-image: linear-gradient(90deg, red 18.5%, green 24.9%, orange 29.9%, red);
  position: relative;
  border-radius: 1rem;
}
.bmi-level {
  left: 50%;
  top: -3rem;
  height: 5rem;
  position: absolute;
  z-index: 1;
  padding-bottom: 15rem;
  transform: translateX(-50%);
}
.arrow-icon {
  width: 3rem;
  height: 3rem;
  color: #fff;
}
/* range-info */
.range-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  background-color: #2b8a3eee;
  padding: 5rem 11rem 5rem 11rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3rem;
  border-radius: 1rem;
}
.close {
  width: 3.4rem;
  height: 3.4rem;
  position: absolute;
  left: 93%;
  top: 1%;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.close:hover {
  color: #333;
}
.range-info p {
  text-transform: none;
  margin-top: 0;
}
/* hide js */
.hidden {
  display: none;
}
.filter {
  -webkit-filter: blur(1rem);
  filter: blur(1rem);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
